.image-container{
    min-height: 100%;
    min-width: 45%;
    background-color: lightblue;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.login-page{
    display: flex;
}

form {
    display: flex;
    justify-content:center;
    align-items:center;
  }

 

